/* CSS Document 
By Miguel Valério - 2026/04
*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
  position: relative;
  min-height: 100vh;
  color: white;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url('pasta/pilha-cafe.png');
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: relative;
  z-index: 2;
}