@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
  --bg-base: hsl(0, 30%, 4.5%);
   --bg-surface: hsl(0, 28%, 8%);
   --bg-card: hsl(0, 25%, 11%);

   --color-text: hsl(0, 0%, 100%);
   --color-primary: #261212;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-base);
    color: var(--color-text);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    
}

#hero {
    postion: relative;
    height: 100vh;
    background-image: url('imagens/hero-vinho.jpg');
    background-size: cover;
    background-position: center;
}

#hero > article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}